@model TestREA.Models.ReaVerrou

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReaVerrou</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdUtilisateur" class="control-label"></label>
                <select asp-for="IdUtilisateur" class="form-control" asp-items="ViewBag.IdUtilisateur"></select>
                <span asp-validation-for="IdUtilisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbTentative" class="control-label"></label>
                <input asp-for="NbTentative" class="form-control" />
                <span asp-validation-for="NbTentative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVerrou" class="control-label"></label>
                <input asp-for="DateVerrou" class="form-control" />
                <span asp-validation-for="DateVerrou" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdApplication" class="control-label"></label>
                <select asp-for="IdApplication" class="form-control" asp-items="ViewBag.IdApplication"></select>
                <span asp-validation-for="IdApplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
